{% extends 'CORE/index.html' %}

{% block INDEX_TITULO %} 
    Acerca de mí
{% endblock INDEX_TITULO %}


{% block INDEX_CONTENIDO %}
    <div><p id="p0">Hola! &#x1f44b; Mi nombre es Irina, soy Licenciada en Matemática y tengo dos hijas pequeñas &#x1f467; &#128103;&#127995;</p> 
    <p>Estuve realizando un <a href="https://www.coderhouse.com/online/python" target="_blank">Curso en Coderhouse sobre Python</a> y como parte de la entrega final me estoy aventurando a hacer una aplicación web por primera vez. 
        Contacto: <a href="mailto:frambuess@gmail.com">frambuess@gmail.com</a>.</p></div>

    <br><p>
    {% include 'CORE/index_back.html' %} </p></br>

{% endblock INDEX_CONTENIDO %}