{% extends 'CORE/index.html' %}

{% block INDEX_TITULO %} 
    Búsquedas
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}

    <h3> Clientes cuyo nombre contiene 'm'</h3>
    {% for cliente in clientes_nombre %}
        <p>{{ cliente }}</p>
    {% endfor %}

    <h3> Cliente cuyo nacimiento es antes de 2005 (mayor de edad) </h3>
    {% for cliente in clientes_nacimiento %}
        <p> {{ cliente }}</p>
    {% endfor %}

    <h3> Clientes de Argentina  </h3>
    {% for cliente in clientes_pais %}
        <p> {{ cliente }}</p>
    {% endfor %}
    
    
    <br><p>
    {% include 'CORE/index_back.html' %} </p></br>

<!--    <br><p><a href="{% url 'Home:home' %}">Ir al menú principal</a></p></br> -->

{% endblock INDEX_CONTENIDO %}