{% extends 'CORE/index.html' %}

 
{% block INDEX_TITULO %} 
    Clientes
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}

    {% for cliente in clientes %}

    <h1>{{ cliente.nombre }} {{ cliente.apellido }}</h1>
    <p>Nació el {{ cliente.nacimiento }} en {{ cliente.pais_origen_id }}.</p>
    <p>Paga a través de {{ cliente.medio_id }} Nro {{ cliente.nrotarjeta }}.</p>

    {% endfor %}
    
    <br><p>
    {% include 'CORE/index_back.html' %}</p></br>

{% endblock INDEX_CONTENIDO %}

