{% extends 'CORE/base.html' %}

{% load static %}

{% block BASE_CONTENIDO %}

<div class="row align-items-center my-5">
    <h1 class="pb-lg-3 text-bg-light">
        {% block INDEX_TITULO %}
            Página de inicio
        {% endblock INDEX_TITULO %}
    </h1>
</div>

    {% block INDEX_CONTENIDO %}

    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'CORE/img/fotoppal.png' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Tienda</h1>
            <p>Descripción del negocio</p>
            <h1 style="color:#25D366;"><a class="btn btn-primary" href="https://wa.me/5491100000000" target="_blank">WhatsApp</a></h1>
        </div>
    </div>

    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">

        {% include 'CORE/card.html' with card="Tarjeta 1" %}
        {% include 'CORE/card.html' with card="Tarjeta 2" %}
        {% include 'CORE/card.html' with card="Tarjeta 3" %}


    
    </div>

    {% endblock INDEX_CONTENIDO %}
    
{% endblock BASE_CONTENIDO %}