{% extends 'CORE/index.html' %}

{% load static %}

{% block INDEX_TITULO %} 
    Páginas del sitio
{% endblock INDEX_TITULO %}


<!-- Acceder a una pantalla que contendrá las páginas. Al clickear en "Leer más" o "Detalle" debe
navegar al detalle de la page (ej. mediante una url pages/ ‹pageld›. (O sea al hacer click se ve
más detalle de lo aue se veía en el apartado anterior). -->
    
{% block INDEX_CONTENIDO %}



<UL TYPE="Disk">

    <LI>
    http://127.0.0.1:8000/  <a href="{% url 'Home:home' %}" role="button" class="btn btn-outline-primary"> Detalle </a><br><br>
    <LI>
    http://127.0.0.1:8000/about/  <a href="{% url 'Home:about' %}" role="button" class="btn btn-outline-dark"> Detalle </a><br><br>
    <LI>
    http://127.0.0.1:8000/register/  <a href="{% url 'Home:register' %}" role="button" class="btn btn-outline-danger"> Detalle </a><br><br> 
    <LI>
    http://127.0.0.1:8000/login/  <a href="{% url 'Home:login' %}" role="button" class="btn btn-outline-primary  "> Detalle </a><br><br> 
    <LI>
    http://127.0.0.1:8000/logout/  <a href="{% url 'Home:logout' %}" role="button" class="btn btn-outline-success "> Detalle </a><br><br> 
    <LI>
    http://127.0.0.1:8000/promo1/  <a href="{% url 'Home:promo1' %}" role="button" class="btn btn-outline-warning  "> Detalle </a><br><br> 
    <LI>
    http://127.0.0.1:8000/promo2/  <a href="{% url 'Home:promo2' %}" role="button" class="btn btn-outline-info  "> Detalle </a><br><br> 
    <LI>
    http://127.0.0.1:8000/promo3/  <a href="{% url 'Home:promo3' %}" role="button" class="btn btn-outline-dark "> Detalle </a><br><br> 
    <LI>
    http://127.0.0.1:8000/producto/  <a href="{% url 'producto:home' %}" role="button" class="btn btn-outline-danger  "> Detalle </a><br><br> 
    <LI>
    http://127.0.0.1:8000/producto/create/  <a href="{% url 'producto:producto_create' %}" role="button" class="btn btn-outline-primary  "> Detalle </a><br><br> 
    <LI>
    http://127.0.0.1:8000/producto/list/  <a href="{% url 'producto:producto_list' %}" role="button" class="btn btn-outline-success "> Detalle </a><br><br> 
    <LI>
    http://127.0.0.1:8000/productocategoria/create/  <a href="{% url 'producto:productocategoria_create' %}" role="button" class="btn btn-outline-warning  "> Detalle </a><br><br> 
    <LI>
    http://127.0.0.1:8000/productocategoria/list/  <a href="{% url 'producto:productocategoria_list' %}" role="button" class="btn btn-outline-info   "> Detalle </a><br><br> 
    </UL>

{% endblock INDEX_CONTENIDO %}
