{% extends 'CORE/index.html' %}

{% load static %}

{% block INDEX_TITULO %} 
    Páginas del sitio
{% endblock INDEX_TITULO %}


<!-- Acceder a una pantalla que contendrá las páginas. Al clickear en "Leer más" o "Detalle" debe
navegar al detalle de la page (ej. mediante una url pages/ ‹pageld›. (O sea al hacer click se ve
más detalle de lo aue se veía en el apartado anterior). -->
    
{% block INDEX_CONTENIDO %}






<UL TYPE="Disk">

    <LI>
    http://127.0.0.1:8000/  <a href="{% url 'Home:home' %}" role="button" class="btn btn-outline-primary"> Detalle </a><br><br>
    <LI>    
    http://127.0.0.1:8000/clientes/  <a href="{% url 'Home:clientes' %}" role="button" class="btn btn-outline-success"> Detalle </a><br><br>
    <LI>
    http://127.0.0.1:8000/crear/  <a href="{% url 'Home:crear' %}" role="button" class="btn btn-outline-warning"> Detalle </a><br><br>
    <LI>
    http://127.0.0.1:8000/busqueda/  <a href="{% url 'Home:busqueda' %}" role="button" class="btn btn-outline-info"> Detalle </a><br><br>
    <LI>
    http://127.0.0.1:8000/about/  <a href="{% url 'Home:about' %}" role="button" class="btn btn-outline-dark"> Detalle </a><br><br>
    <LI>
    http://127.0.0.1:8000/pages/  <a href="{% url 'Home:pages' %}" role="button" class="btn btn-outline-danger"> Detalle </a><br><br>   
    </UL>

    <br><p>
    {% include 'CORE/index_back.html' %} </p></br>

{% endblock INDEX_CONTENIDO %}