{% extends 'CORE/index.html' %}

 
{% block INDEX_TITULO %} 
    Promo 3 - Norteña
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}

    <h2>Te pedimos disculpas, esta promoción ya ha finalizado.</h2>
    <p><small><small><small><small>* PROMOCIÓN VÁLIDA DEL 1/7/2023 AL 31/7/2023 INCLUSIVE. EXCLUSIVO PARA COMPRAS DE TODO EL PAÍS. SÓLO PARA CONSUMO FAMILIAR. 
        ESTAS PROMOCIONES NO SON ACUMULABLES CON OTRAS PROMOCIONES VIGENTES. NO INCLUYE PRODUCTOS DE LA CANASTA DE PRECIOS JUSTOS. 
        PARA MÁS INFORMACIÓN CONSULTE EN WWW.TIENDAONLINE.COM.AR O COMUNÍQUESE GRATUITAMENTE AL TELÉFONO 0-800-000-0000 O
        WHATSAPP 54911-0000-0000 </small></small></small></small></p>
    <br><p>
    {% include 'CORE/index_back.html' %}</p></br>

{% endblock INDEX_CONTENIDO %}