{% extends 'CORE/index.html' %}

{% load static %}
 
{% block INDEX_TITULO %} 
    Promo 1 - Hamburguera
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}

    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'CORE/img/hambur.png' %}" alt="..." /></div>
    <br>
    <h2>Llevando 1 kilo de semillas te regalamos un paquete de hamburguesas veggies.</h2>
    <p><small><small><small><small>* PROMOCIÓN VÁLIDA DEL 1/8/2023 AL 31/8/2023 INCLUSIVE. EXCLUSIVO PARA COMPRAS DE TODO EL PAÍS. SÓLO PARA CONSUMO FAMILIAR. 
        ESTAS PROMOCIONES NO SON ACUMULABLES CON OTRAS PROMOCIONES VIGENTES. NO INCLUYE PRODUCTOS DE LA CANASTA DE PRECIOS JUSTOS. 
        PARA MÁS INFORMACIÓN CONSULTE EN WWW.TIENDAONLINE.COM.AR O COMUNÍQUESE GRATUITAMENTE AL TELÉFONO 0-800-000-0000 O
        WHATSAPP 54911-0000-0000 </small></small></small></small></p>
    <br><p>
    {% include 'CORE/index_back.html' %}</p></br>

{% endblock INDEX_CONTENIDO %}
